@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">

                    <div class="carousel-item">
                        <img src="images/carouselImages/865272811_.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    
                    <div class="carousel-item">
                        <img src="images/carouselImages/653920714_.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    
                    <div class="carousel-item h-100 active">
                        <img src="/images/carouselImages/11_f6lsw1_500.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                   
                    
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
       <div class="mb-3">
      <h2>Teknolojik Ürünler</h2>
      </div>
      <div class="mb-3 p-3">
          <span class="fs-5 text-dark fst-italic">Bilgisayar Fiyatları ve Modelleri</span>
      </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark fst-italic">Son Teknoloji Akıllı Telefonlar</span>
            </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark fst-italic">Son Model Tabletler</span>
            </div>
        </div>
      </div>
    
</div>
